@CHARSET "UTF-8";
.header-vertically{
	padding: 7px;
	color: white;
	font-size: x-large;
}

.back-img{
	z-index: -999; 
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}

.user {
    border:solid 2px #ccc;
    background:url(/images/user1.jpg) no-repeat 0 center;
    padding-left: 30px;
}

.search-header{
	border:solid 2px #ccc;
	background: url("") no-repeat 0 center;
	width: 200px;
	height: 35px;
}

.lock {
    border:solid 2px #ccc;
    background:url(/images/lock1.jpg) no-repeat 0 center;
     padding-left: 30px;
}

.vertically{
	 padding: 20px;
}

.head{
	background-color: #103858; 
	height: 50px; 
	clear: both; 
	position: fixed; 
	top: 0; 
	width: 100%;
	border-bottom:2px solid silver;
	z-index:999;
}

.foot{
	background-color: black; 
	height: 130px;
	width: 100%;
	color: white;
/* 	position: absolute; */
	margin-bottom: 0px;
}

.footer-a{
	color: white;
	margin-left: 10px;
}

.main-container{
	margin-top: 50px;
/* 	background-color: #D2D8DE; */
	height: 100%;
}

.body-head{
	height: 200px;
	background-color: #BED8E0;
}

.edit-input{
	width: 150px;
}

.body-head-text{
	text-indent:2em; 
	padding-top: 30px; 
	width: 85%; 
	margin-left: auto;
	margin-right: auto;
}

.body-head-title{
	padding-top: 40px; 
	width: 85%; 
	margin-left: auto;
	margin-right: auto;
}

.body-container{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.header-vertically a:HOVER{text-decoration: none;color: #BED8E0;}
.header-vertically a:VISITED{text-decoration: none;}
.header-vertically a:ACTIVE{text-decoration: none;}
.header-vertically a:LINK{text-decoration: none;}

.logo{
	font-family: cursive; 
	font-weight: bold;
	margin-left: 100px;
}

.header-content{
	display: inline-block;
}

.ele{
	padding-left: 15px;
	padding-right:15px;
	padding-bottom: 15px;
	color: white;
	font-size: medium;
}

#navItems a:HOVER{
	display: inline-block;
	height: 32px;
	border-bottom: 10px solid #BED8E0;
	text-align: center;
}

.homepage-items{
	width: 40%; 
	float: left;
	display: block;
	margin: 4%;
	height: 300px;
}

#navbox{
	width: 45px;
	height: 80.8%;
	background-color: #2d3134;
	position: fixed;
	left: 0;
	z-index: 999;
	overflow: hidden;
	padding-top: 0px;
}

#navbox ul{
	list-style: none;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.ac{
	display: inline-block;
	height: 32px;
	border-bottom: 10px solid #BED8E0;
	text-align: center;
}
/*
	about blog
*/
.comments{
	padding: 10px 0 18px 50px; 
	border-top: 1px dashed gray;
	margin-left: 100px; 
	margin-right: 100px;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

  /* 定义模态对话框外面的覆盖层样式 */
#modal-overlay {
     visibility: hidden;    
     position: absolute;   /* 使用绝对定位或固定定位  */
     left: 0px;    
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-color: #333; 
	opacity: 0.8;   /* 背景半透明 */
}
/* 模态框样式 */
.modal-data{
	display:inline-block;
/*      margin: 300px auto; */
	margin-top:150px;
     background-color: white;
     border:5px solid #103858;
     padding:15px;
/*      text-align:center; */
     position:relative left=50% top=50%;
}